@using OpenRiaServices.Client.Authentication
@page "/Login"
@inherits LayoutComponentBase

<EditForm Model="@loginInfo">

    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group row">
        <label class="col-xl-1 col-lg-2 col-form-label">UserName</label>
        <div class="col-2">
            <InputText class="form-group" @bind-Value="loginInfo.UserName" />
        </div>
    </div>

    <div class="form-group row">
        <label class="col-xl-1 col-lg-2 col-form-label">Password</label>
        <div class="col-2">
            <InputText type="password" class="form-group" @bind-Value="loginInfo.Password" />
        </div>
    </div>

    <button Type="submit" @onclick="SignIn">Login</button>

</EditForm>

<span>@LoginedUserName</span>


@code {

    public LoginInfo loginInfo { get; set; }

    protected override void OnInitialized()
    {
        loginInfo = new Login.LoginInfo();
        base.OnInitialized();
    }

    public string LoginedUserName { get; set; }

    private void SignIn()
    {
        var loginParameters = new LoginParameters(loginInfo.UserName, loginInfo.Password);

        WebContext.Current.Authentication.Login(loginParameters,
            (res) =>
            {
                if (res.LoginSuccess)
                    LoginedUserName = res.User.Identity.Name + " signed in successfully";
                else if (!res.HasError)
                    LoginedUserName = "Login failed (Wrong username password?)";
                else
                    LoginedUserName = string.Format("Login error: {0}", res.Error);
                StateHasChanged();
            }, null);
    }

    public class LoginInfo
    {

        public string UserName { get; set; }

        public string Password { get; set; }

    }
}